@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  
}

body {
  color: #ddd;
  background: rgb(0, 0, 0);
}



.content-div:hover {
  background-image: linear-gradient(
    to right,
    #a82a8fcc,
    hsla(240, 36%, 34%, 0.8)   
    )!important;
  }

  @media screen and (max-width:789px){
   .list{
          justify-content: center;
   }

 
}
  
  @media screen and (max-width: 400px ){
   .my_image{
         width: 350px;
         height: 500px;
   }
   
  }

 
 
  
  @media (min-width: 768px) {
    .footer-container {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }  


.first_color{
  background-image: linear-gradient(to right top, #0d1623, #0e1e38, #16244d, #262961, #3d2c73);
}

.second_color{
  background-image:linear-gradient(to right bottom,#0d1623, #0e1e38, #16244d, #262961, #3d2c73);
}

/* 
.nav-menu {
  position: absolute;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  top: 0;
  left:-100%;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, .8);
  transition: 0.5s ease-in;
}

 .active {
  left: 0;
} */




