@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #ffffff;
  background-image: linear-gradient(to right top, #1a1130, #1b1132, #1c1034, #1d1035, #1e0f37, #1e0f37, #1e0f37, #1e0f37, #1c0f35, #1b0f34, #190f32, #180f30);
}

.my_image{
  background:#271247
}

.h1{
  background-image: linear-gradient(to right top, #cd6bd1, #cf70d5, #d175da, #d47ade, #d67fe2, #d082e7, #c986ec, #c289f0, #ae8bf5, #978ef8, #7e90fb, #5f92fb);
}
.CV{
  background-image: linear-gradient(to right top, #b46bd1, #a05fc4, #8d53b7, #7947ab, #663c9e, #633ba1, #603ba4, #5c3aa7, #6943bb, #774cd0, #8556e5, #945ffb);
}
  
.contact_detail{
  background-image:linear-gradient(to right bottom,#0d1623, #0e1e38, #16244d, #262961, #573eab);
}

  @media (min-width: 768px) {
    .footer-container {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
   
  }  
  
  @media (min-width: 450px) {
    .img{
        max-width: 95%;
    }
    
  }

  .swiper {
    width: 335px;
    height: 470px;
    top: 15%;
  }

  @media (min-width: 300px) {
    .hi{
      font-size: 55px;
      line-height: 1;   
    }
    .span{
      font-size: 30px;
      line-height: 1;   
    }
  }

  @media (min-width: 550px) {
    .img{
        max-width: 75%;
    }
  }


 
.first_color{
  background-image: linear-gradient(to right top, #1a1130, #1b1132, #1c1034, #1d1035, #1e0f37, #1e0f37, #1e0f37, #1e0f37, #1c0f35, #1b0f34, #190f32, #180f30);
}

.second_color{
  background-image: linear-gradient(to right bottom, #1a1130, #1b1132, #1c1034, #1d1035, #1e0f37, #1e0f37, #1e0f37, #1e0f37, #1c0f35, #1b0f34, #190f32, #180f30);
}

.container_color{
  background-image:linear-gradient(to bottom,#0d1623, #0e1e38, #16244d, #262961, #573eab);
}
    
.button{
  background-image:linear-gradient(to bottom,#000000, #797dcb, #7c54ff);
}
.text-shadow {
  text-shadow: 2px 2px 4px rgb(178, 13, 147);
}

.loading-page {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right top, #4e3543, #5f3051, #6d2b62, #782477, #7f1d8f, #7a279b, #7431a7, #6b3ab3, #6047af, #5952a8, #565a9f, #576095);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

#svg {
  height: 250px;
  width: 250px;
  stroke: white;
  fill-opacity: 0;
  stroke-width: 140px;
  stroke-dasharray: 4500;
  animation: draw 8s ease;
}
.favicon {
  position: absolute;
  top: 20px; /* Adjust the top position as needed */
  left: 20px; /* Adjust the left position as needed */
  stroke: white;
  fill-opacity: 0;
  stroke-width: 140px;
  stroke-dasharray: 4500;
}
#nav_svg {
  height: 40px;
  width: 40px;
  stroke: white;
  fill-opacity: 0;
  stroke-width: 140px;
  stroke-dasharray: 4500;
  animation: draw 8s ease;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 4500;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

/* ScrollBar */
::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background: #2e1d53;
}
::-webkit-scrollbar-thumb {
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 20px;
  border: 3px solid transparent;
  background-clip: content-box;
}


/* Dropdown menu */
.dropdown_menu{
    animation: rotateMenu 500ms ease-in-out forwards;
    transform-origin: top center;
}
    
@keyframes rotateMenu {
    0% {
        transform: rotateX(-90deg)
    }
    70% {
        transform: rotateX(20deg) 
    }
    100% {
        transform: rotateX(0deg) 
    }
}


/* Gradient border */
.gradient-border {
  --borderWidth: 2px; /* Adjust this value to change the border width */
  position: relative;
}

.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(45deg, #833AB4, #405DE6, #833AB4, #C13584, #405DE6, #833AB4, #E1306C);
  border-radius: inherit; 
  z-index: -1;
  animation: animatedgradient 2s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.gradient-text {
  background: linear-gradient(to right, #F9008E, #F733A2, #F44CB4, #F060C6, #EB71D5, #E373DD, #DB76E4, #D179EB, #C071EF, #AD6AF2, #9664F7, #785FFB);
}
